langchain
langchain-community
langchain-openai
langchain-qdrant
langchain-text-splitters
langgraph

qdrant-client

fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

sqlalchemy
psycopg2-binary

redis

pypdf
python-docx

rank-bm25

python-dotenv