langchain
langchain-community
langchain-openai
langchain-groq
langchain-chroma
chromadb
langchain-text-splitters
sentence-transformers
langgraph

fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

sqlalchemy
psycopg2-binary

redis

pypdf
python-docx

rank-bm25

python-dotenv